<div id="question-<%= question._id %>">
   Question Template: <%= question.question_template.type %>
   Title:
   <%= text_field_tag "survey[questions][#{question._id}][title]", question.title %>
   Description:
   <%= text_field_tag "survey[questions][#{question._id}][description]", question.description %>
   <div id="examples-of-question-<%= question._id %>">
      <% question.examples.each do |example| %>
         <%= render :partial => "examples/form", :locals => {:example => example} %>
      <% end %>
      <%= link_to "Add Example", new_example_path(:question_id => question._id), :remote => true %>
      <%= link_to "Remove", question_path(question), :method => :delete, :remote => true, :confirm => "Are u sure?" %>
   </div>
</div>
