
<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Paper</th>
		</tr>
					<tr>
				<td><strong>created_at</strong></td>
				<td><%= @paper.created_at %></td>
			</tr>
					<tr>
				<td><strong>updated_at</strong></td>
				<td><%= @paper.updated_at %></td>
			</tr>
					<tr>
				<td><strong>completed</strong></td>
				<td><%= @paper.completed %></td>
			</tr>
					<tr>
				<td><strong>user_id</strong></td>
				<td><%= @paper.user_id %></td>
			</tr>
					<tr>
				<td><strong>survey_id</strong></td>
				<td><%= @paper.survey_id %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_papers_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_paper_path(@paper), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_paper_path(@paper), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
