
<%= form_for [:admin, @feedback] do |f| %>
  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
			<th class="full" colspan="2">Adding a new Feedback</th>
							<tr>
					<td><strong>created_at</strong></td>
					<td>
						<%= f.text_field :created_at%>
					</td>
				</tr>
							<tr>
					<td><strong>content</strong></td>
					<td>
						<%= f.text_field :content%>
					</td>
				</tr>
							<tr>
					<td><strong>password</strong></td>
					<td>
						<%= f.text_field :password%>
					</td>
				</tr>
							<tr>
					<td><strong>users_id</strong></td>
					<td>
						<%= f.text_field :users_id%>
					</td>
				</tr>
				
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
