
<%= form_for [:admin, @board] do |f| %>
  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
			<th class="full" colspan="2">Adding a new Board</th>
							<tr>
					<td><strong>title</strong></td>
					<td>
						<%= f.text_field :title%>
					</td>
				</tr>
							<tr>
					<td><strong>description</strong></td>
					<td>
						<%= f.text_field :description%>
					</td>
				</tr>
							<tr>
					<td><strong>order</strong></td>
					<td>
						<%= f.text_field :order%>
					</td>
				</tr>
							<tr>
					<td><strong>public</strong></td>
					<td>
						<%= f.text_field :public%>
					</td>
				</tr>
				
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
