<div class="top-bar">
	<h1><%= @board.title%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Board</th>
		</tr>
					<tr>
				<td><strong>title</strong></td>
				<td><%= @board.title %></td>
			</tr>
					<tr>
				<td><strong>description</strong></td>
				<td><%= @board.description %></td>
			</tr>
					<tr>
				<td><strong>order</strong></td>
				<td><%= @board.order %></td>
			</tr>
					<tr>
				<td><strong>public</strong></td>
				<td><%= @board.public %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_boards_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_board_path(@board), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_board_path(@board), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
