<div class="table">
	<table class="listing" cellpadding="0" cellspacing="0">
		<tr>
							<th>created_at</th>
							<th>updated_at</th>
							<th>title</th>
							<th>description</th>
							<th>type</th>
							<th>duplicated</th>
					</tr>
		<% @question_templates.each do |question_template| -%>
			<tr>
									<td>
													<%= question_template.created_at %>
											</td>
									<td>
													<%= question_template.updated_at %>
											</td>
									<td>
													<%= link_to "#{question_template.title}", admin_question_template_path(question_template) %>
											</td>
									<td>
													<%= question_template.description %>
											</td>
									<td>
													<%= question_template.type %>
											</td>
									<td>
													<%= question_template.duplicated %>
											</td>
							</tr>
    <% end %>
		<% if @question_templates.empty? %>
      <tr>
				<td colspan="6">No records</td>
      </tr>
    <% end %>
  </table>
</div>

<div class="actions">
	<a href="<%= new_admin_question_template_path %>" class="action add">New QuestionTemplate</a>
</div>
