<div class="top-bar">
	<h1><%= @question_template.title%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">QuestionTemplate</th>
		</tr>
					<tr>
				<td><strong>created_at</strong></td>
				<td><%= @question_template.created_at %></td>
			</tr>
					<tr>
				<td><strong>updated_at</strong></td>
				<td><%= @question_template.updated_at %></td>
			</tr>
					<tr>
				<td><strong>title</strong></td>
				<td><%= @question_template.title %></td>
			</tr>
					<tr>
				<td><strong>description</strong></td>
				<td><%= @question_template.description %></td>
			</tr>
					<tr>
				<td><strong>type</strong></td>
				<td><%= @question_template.type %></td>
			</tr>
					<tr>
				<td><strong>duplicated</strong></td>
				<td><%= @question_template.duplicated %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_question_templates_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_question_template_path(@question_template), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_question_template_path(@question_template), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
