<div class="table">
	<table class="listing" cellpadding="0" cellspacing="0">
		<tr>
							<th>created_at</th>
							<th>updated_at</th>
							<th>public</th>
							<th>title</th>
							<th>content</th>
							<th>like_count</th>
							<th>dislike_count</th>
							<th>admin_id</th>
							<th>board_id</th>
							<th>like_user_ids</th>
							<th>dislike_user_ids</th>
					</tr>
		<% @posts.each do |post| -%>
			<tr>
									<td>
													<%= post.created_at %>
											</td>
									<td>
													<%= post.updated_at %>
											</td>
									<td>
													<%= post.public %>
											</td>
									<td>
													<%= link_to "#{post.title}", admin_post_path(post) %>
											</td>
									<td>
													<%= post.content %>
											</td>
									<td>
													<%= post.like_count %>
											</td>
									<td>
													<%= post.dislike_count %>
											</td>
									<td>
													<%= post.admin_id %>
											</td>
									<td>
													<%= post.board_id %>
											</td>
									<td>
													<%= post.like_user_ids %>
											</td>
									<td>
													<%= post.dislike_user_ids %>
											</td>
							</tr>
    <% end %>
		<% if @posts.empty? %>
      <tr>
				<td colspan="11">No records</td>
      </tr>
    <% end %>
  </table>
</div>

<div class="actions">
	<a href="<%= new_admin_post_path %>" class="action add">New Post</a>
</div>
