<div class="top-bar">
	<h1><%= @post.title%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Post</th>
		</tr>
					<tr>
				<td><strong>created_at</strong></td>
				<td><%= @post.created_at %></td>
			</tr>
					<tr>
				<td><strong>updated_at</strong></td>
				<td><%= @post.updated_at %></td>
			</tr>
					<tr>
				<td><strong>public</strong></td>
				<td><%= @post.public %></td>
			</tr>
					<tr>
				<td><strong>title</strong></td>
				<td><%= @post.title %></td>
			</tr>
					<tr>
				<td><strong>content</strong></td>
				<td><%= @post.content %></td>
			</tr>
					<tr>
				<td><strong>like_count</strong></td>
				<td><%= @post.like_count %></td>
			</tr>
					<tr>
				<td><strong>dislike_count</strong></td>
				<td><%= @post.dislike_count %></td>
			</tr>
					<tr>
				<td><strong>admin_id</strong></td>
				<td><%= @post.admin_id %></td>
			</tr>
					<tr>
				<td><strong>board_id</strong></td>
				<td><%= @post.board_id %></td>
			</tr>
					<tr>
				<td><strong>like_user_ids</strong></td>
				<td><%= @post.like_user_ids %></td>
			</tr>
					<tr>
				<td><strong>dislike_user_ids</strong></td>
				<td><%= @post.dislike_user_ids %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_posts_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_post_path(@post), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_post_path(@post), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
