<div class="top-bar">
	<h1><%= @question.title%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">Question</th>
		</tr>
					<tr>
				<td><strong>title</strong></td>
				<td><%= @question.title %></td>
			</tr>
					<tr>
				<td><strong>description</strong></td>
				<td><%= @question.description %></td>
			</tr>
					<tr>
				<td><strong>question_template_id</strong></td>
				<td><%= @question.question_template_id %></td>
			</tr>
					<tr>
				<td><strong>survey_id</strong></td>
				<td><%= @question.survey_id %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_questions_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_question_path(@question), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_question_path(@question), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
