<table class="table table-bordered">
  <tbody>
    <tr>
      <td>주제</td>
      <td colspan="3"><%= @survey.title %></td>
    </tr>
    <tr>
      <td>설명</td>
      <td colspan="3"><%= @survey.description %></td>
    </tr>
  </tbody>
</table>

<%= form_for(@paper) do |f| %>
  <% @survey.questions.each do |question| %>
    <div class="well">
    <span class="label"><%= question.question_template.title %></span>
    <div>
      <p><span class="label">질문</span> <%= question.title %></p>
      <% if !question.description.empty? %>
        <p><span class="label">설명</span><%= question.description %></p>
      <% end %>
    </div>
    <div class="question-examples">
      <%= render :partial => "examples/list", :locals => {:layout => Paper, :examples => question.examples, :question => question} %>
    </div>
    </div>
  <% end %>
  <%= f.submit "저장하기", :class => "btn" %>
  <%= link_to "제출하기", complete_paper_path(@paper), :confirm => "Are u sure?", :class => "btn" %>
  <%= link_to "삭제하기", paper_path(@paper), :method => :delete, :confirm => "Are u sure?", :class => "btn" %>
<% end %>
