<h1>Make Suvery</h1>
<%= form_for(@survey) do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
   <%= f.label :description %>
   <%= f.text_field :description %>
   <%= f.label :survey_template %>
   <%= f.select :survey_template, options_for_select(@survey_templates) %>
   <%= f.label :result_template %>
   <%= f.select :result_template, options_for_select(@result_templates) %>
   <%= f.submit %>
<% end %>
