<h3>Title: <%= @survey.title %></h3>
<p>Content: <%= @survey.description %></p>
<ol>
   <% @survey.questions.each do |q| %>
      <li>
         <div class="question-title">
            Title: <%= q.title %>
         </div>
         <div class="question-description">
            Description: <%= q.description %>
         </div>
         <div class="question-examples">
            <%= render :partial => "examples/statistics", :locals => {:examples => q.examples, :question => q} %>
         </div>
      </li>
   <% end %>
</ol>
