<script type="text/javascript">
  $(function () {
      // For the Tag Cloud
      $('.example-tagcloud').each(function () {

        var fill = d3.scale.category20();
        var holder = this;
        var values = JSON.parse($('.example-tagcloud').text());

        d3.layout.cloud().size([300, 300])
          .words(values.map(function(d) {
              return {text: d, size: 10 + Math.random() * 90};
              }))
          .rotate(function() { return ~~(Math.random() * 2) * 90; })
          .font("Impact")
          .fontSize(function(d) { return d.size; })
          .on("end", draw)
          .start();
  
          function draw(words) {
            d3.select(holder).append("svg")
            .attr("width", 300)
            .attr("height", 300)
            .append("g")
            .attr("transform", "translate(150,150)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .style("fill", function(d, i) { return fill(i); })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
            .text(function(d) { return d.text; });
        }

      });

      // For the Pie and Bar Chart
      $('table.example-statistics').each(function() {
        var values = [],
        labels = [],
        table = this;
        //$("tr").each(function () {
        $(table).find("tr").each(function () {
          values.push(parseInt($("td", this).text(), 10));
          labels.push($("th", this).text());
        });
        $(table).hide();

        var resultTemplate = <%= @survey.result_template.type %>;
        if (resultTemplate == 1)    // Pie Chart 
        {       
          Raphael("holder-"+$(table).attr('holder'), 375, 375).pieChart(175, 175, 100, values, labels, "#fff");
        }
        else if (resultTemplate == 0)   // Bar Chart
        {  
          var labels_new = [''].concat(labels);
          var values_new = [''].concat(values);

          function drawVisualization() {
            var wrapper = new google.visualization.ChartWrapper({
                  chartType: 'ColumnChart',
                  dataTable: [labels_new, values_new],
                  options: {'title': 'Title'},
                  containerId: "holder-"+$(table).attr('holder')
                  });
            wrapper.draw();
          }
          
          drawVisualization();
        }
      });
  });
</script>

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>주제</td>
      <td colspan="3"><%= @survey.title %></td>
    </tr>
    <tr>
      <td>설명</td>
      <td colspan="3"><%= @survey.description %></td>
    </tr>
    <tr>
      <td>설문 템플릿</td>
      <td><%= @survey.survey_template.title %></td>
      <td>결과 템플릿</td>
      <td><%= @survey.result_template.title %></td>
    </tr>
  </tbody>
</table>

<% @survey.questions.each do |question| %>
  <div class="well">
    <span class="label"><%= question.question_template.title %></span>
    <div>
      <p><span class="label">질문</span> <%= question.title %></p>
      <% if !question.description.empty? %>
        <p><span class="label">설명</span><%= question.description %></p>
      <% end %>
    </div>
    <div class="question-examples">
      <%= render :partial => "examples/statistics", :locals => {:examples => question.examples, :question => question} %>
    </div>
  </div>
<% end %>
