<p>
   Title: <%= @survey.title %>
   Description: <%= @survey.description %>
   Survey Template: <%= @survey.survey_template.title %>
   Result Template: <%= @survey.result_template.title %>
</p>

<%= link_to "Edit or Add Question", edit_survey_path(@survey) %>

<h1>Questions</h1>
<ul>
   <% @survey.questions.each do |question| %>
      <li>
         Question Template: <%= question.question_template.type %>
         Title: <%= question.title %>
         Description: <%= question.description %><br />
         <div class="question-examples">
            <%= render :partial => "examples/list", :locals => {:layout => Survey, :examples => question.examples, :question => question} %>
         </div>
      </li>
   <% end %>
</ul>

<%= link_to "Remove", survey_path(@survey), :method => :delete, :confirm => "Are u sure?" %>
<%= link_to "Result", result_survey_path(@survey) %>
