
<%= form_for [:admin, @example] do |f| %>
  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
			<th class="full" colspan="2">Adding a new Example</th>
							<tr>
					<td><strong>content</strong></td>
					<td>
						<%= f.text_field :content%>
					</td>
				</tr>
							<tr>
					<td><strong>question_id</strong></td>
					<td>
						<%= f.text_field :question_id%>
					</td>
				</tr>
							<tr>
					<td><strong>reply_ids</strong></td>
					<td>
						<%= f.text_field :reply_ids%>
					</td>
				</tr>
				
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
