
<%= form_for [:admin, @user] do |f| %>
  <div class="table">
    <table class="listing form" cellpadding="0" cellspacing="0">
			<th class="full" colspan="2">Adding a new User</th>
							<tr>
					<td><strong>created_at</strong></td>
					<td>
						<%= f.text_field :created_at%>
					</td>
				</tr>
							<tr>
					<td><strong>updated_at</strong></td>
					<td>
						<%= f.text_field :updated_at%>
					</td>
				</tr>
							<tr>
					<td><strong>name</strong></td>
					<td>
						<%= f.text_field :name%>
					</td>
				</tr>
							<tr>
					<td><strong>password</strong></td>
					<td>
						<%= f.text_field :password%>
					</td>
				</tr>
							<tr>
					<td><strong>salt</strong></td>
					<td>
						<%= f.text_field :salt%>
					</td>
				</tr>
							<tr>
					<td><strong>nickname</strong></td>
					<td>
						<%= f.text_field :nickname%>
					</td>
				</tr>
							<tr>
					<td><strong>auth</strong></td>
					<td>
						<%= f.text_field :auth%>
					</td>
				</tr>
							<tr>
					<td><strong>expire_time</strong></td>
					<td>
						<%= f.text_field :expire_time%>
					</td>
				</tr>
							<tr>
					<td><strong>auth_key</strong></td>
					<td>
						<%= f.text_field :auth_key%>
					</td>
				</tr>
							<tr>
					<td><strong>gender</strong></td>
					<td>
						<%= f.text_field :gender%>
					</td>
				</tr>
							<tr>
					<td><strong>age</strong></td>
					<td>
						<%= f.text_field :age%>
					</td>
				</tr>
							<tr>
					<td><strong>college</strong></td>
					<td>
						<%= f.text_field :college%>
					</td>
				</tr>
							<tr>
					<td><strong>department</strong></td>
					<td>
						<%= f.text_field :department%>
					</td>
				</tr>
				
    </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end -%>
