<div class="top-bar">
	<h1><%= @user.name%></h1>
</div>

<div class="table">
  <table class="listing form" cellpadding="0" cellspacing="0">
    <tr>
			<th colspan="2">User</th>
		</tr>
					<tr>
				<td><strong>created_at</strong></td>
				<td><%= @user.created_at %></td>
			</tr>
					<tr>
				<td><strong>updated_at</strong></td>
				<td><%= @user.updated_at %></td>
			</tr>
					<tr>
				<td><strong>name</strong></td>
				<td><%= @user.name %></td>
			</tr>
					<tr>
				<td><strong>password</strong></td>
				<td><%= @user.password %></td>
			</tr>
					<tr>
				<td><strong>salt</strong></td>
				<td><%= @user.salt %></td>
			</tr>
					<tr>
				<td><strong>nickname</strong></td>
				<td><%= @user.nickname %></td>
			</tr>
					<tr>
				<td><strong>auth</strong></td>
				<td><%= @user.auth %></td>
			</tr>
					<tr>
				<td><strong>expire_time</strong></td>
				<td><%= @user.expire_time %></td>
			</tr>
					<tr>
				<td><strong>auth_key</strong></td>
				<td><%= @user.auth_key %></td>
			</tr>
					<tr>
				<td><strong>gender</strong></td>
				<td><%= @user.gender %></td>
			</tr>
					<tr>
				<td><strong>age</strong></td>
				<td><%= @user.age %></td>
			</tr>
					<tr>
				<td><strong>college</strong></td>
				<td><%= @user.college %></td>
			</tr>
					<tr>
				<td><strong>department</strong></td>
				<td><%= @user.department %></td>
			</tr>
			</table>
</div>

<div class="actions">
	<%= link_to 'List', admin_users_path, :class => "action list" %> |
	<%= link_to 'Edit', edit_admin_user_path(@user), :class => "action edit" %> |
	<%= link_to 'Destroy', admin_user_path(@user), :method => :delete, :confirm => "Are you sure?", :class => "action destroy" %>
</div>
