		<h3>Board</h3>
		<ul class="nav">
			<li><%= link_to 'Board', admin_boards_path %></li>
		</ul>
		<h3>Category</h3>
		<ul class="nav">
			<li><%= link_to 'Category', admin_categories_path %></li>
		</ul>
		<h3>Example</h3>
		<ul class="nav">
			<li><%= link_to 'Example', admin_examples_path %></li>
		</ul>
		<h3>ExampleTemplate</h3>
		<ul class="nav">
			<li><%= link_to 'ExampleTemplate', admin_example_templates_path %></li>
		</ul>
		<h3>Feedback</h3>
		<ul class="nav">
			<li><%= link_to 'Feedback', admin_feedbacks_path %></li>
		</ul>
		<h3>Paper</h3>
		<ul class="nav">
			<li><%= link_to 'Paper', admin_papers_path %></li>
		</ul>
		<h3>Post</h3>
		<ul class="nav">
			<li><%= link_to 'Post', admin_posts_path %></li>
		</ul>
		<h3>Question</h3>
		<ul class="nav">
			<li><%= link_to 'Question', admin_questions_path %></li>
		</ul>
		<h3>QuestionTemplate</h3>
		<ul class="nav">
			<li><%= link_to 'QuestionTemplate', admin_question_templates_path %></li>
		</ul>
		<h3>Reply</h3>
		<ul class="nav">
			<li><%= link_to 'Reply', admin_replies_path %></li>
		</ul>
		<h3>ResultTemplate</h3>
		<ul class="nav">
			<li><%= link_to 'ResultTemplate', admin_result_templates_path %></li>
		</ul>
		<h3>Survey</h3>
		<ul class="nav">
			<li><%= link_to 'Survey', admin_surveys_path %></li>
		</ul>
		<h3>SurveyTemplate</h3>
		<ul class="nav">
			<li><%= link_to 'SurveyTemplate', admin_survey_templates_path %></li>
		</ul>
		<h3>User</h3>
		<ul class="nav">
			<li><%= link_to 'User', admin_users_path %></li>
		</ul>

<% unless session[:admin].nil? -%>
	<%= link_to 'Logout', admin_logout_path, :class => 'link' %>
<% end -%>
